# ===== Node dependencies =====
node_modules/
**/node_modules/

# ===== Environment variables =====
.env
Backend/.env


# ===== Build folders =====
dist/
build/
Frontend/dist/
Frontend/build/
Backend/dist/

# ===== Logs =====
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Editor / IDE =====
.vscode/
.idea/

# ===== Vite cache =====
.vite/

# ===== Optional =====
coverage/
